{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
{% if request.GET.account == 'verification' %}
    <div class="verification__msg">
        <p>
            Account verification has been sent to your email, [{{request.GET.email}}] <br/>
            Please check your email box to verify and complete your registration.
        </p>
    </div>
{% else %}
    <h4>Log in</h4>
    <div>
    <form action="{% url 'login' %}" method="POST">
        {% include 'include/messages.html' %}
        {% csrf_token %}
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <button type="submit">Log in</button>
    </form>
        <small>
        Forgot password? 
        <a href="{% url 'password_reset' %}">Reset password</a>
        </small>
        <small>
        Need an account? 
        <a href="{% url 'register' %}">Register</a>
        </small>
    </div>
{% endif %}
{% endblock content %}