{% extends 'base.html' %}

{% block title %}Account register{% endblock title %}

{% block page__title %}
    <div class="page__header">
        <h1>welcome</h1>
    </div>
{% endblock page__title %}

{% block content %}
    <section class="section section__authentication page__section">
    <div class="section__wrapper">
        <div class="password__change">
            <h3>Change password</h3>
            <form action="{% url 'password_change' %}" method="post" class="form">
                {% include 'include/messages.html' %}
                {% csrf_token %}
                <div class="form__group">
                    <label for="current_password">Current password</label>
                    <input type="password" name="current_password" id="current_password" required placeholder="Enter current password">
                    <i class="fas fa-key"></i>
                    <i class="fas fa-eye-slash fa__pass"></i>
                    <i class="fas fa-eye fa__pass show"></i> 
                </div>
                <div class="form__group">
                    <label for="new_password">New password</label>
                    <input type="password" name="new_password" id="new_password" required placeholder="Enter new password">
                    <i class="fas fa-key"></i>
                    <i class="fas fa-eye-slash fa__pass"></i>
                    <i class="fas fa-eye fa__pass show"></i>
                </div>
                <div class="form__group">
                    <label for="new_password2">confirm new password</label>
                    <input type="password" name="new_password2" id="new_password2" required placeholder="Confirm new password">
                    <i class="fas fa-key"></i>
                    <i class="fas fa-eye-slash fa__pass"></i>
                    <i class="fas fa-eye fa__pass show"></i>
                </div>
                <button type="submit">Save password</button>
            </form>
        </div>
    </div>
</section>
{% endblock content %}