{% extends 'base.html' %}

{% block title %}Password Reset{% endblock title %}


{% block page__title %}
    <div class="page__header">
        <h1>welcome</h1>
    </div>
{% endblock page__title %}

{% block content %}
    <section class="section section__authentication page__section">
        <div class="section__wrapper">
            <div class="password__reset_form">
                <h3>Password reset</h3>
                <form action="{% url 'password_reset' %}" method="POST" class="form">
                    <p class="form__text">Please enter a valid email address linked to your account.</p>
                    {% include 'include/messages.html' %}
                    {% csrf_token %}
                    <div class="form__group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder="Email address">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <button type="submit">Send request</button>
                    <div class="form__links">
                        <p>
                            Have password? 
                            <a href="{% url 'login' %}">Log in</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}