{% extends 'base.html' %}

{% block title %}Account register{% endblock title %}

{% block content %}
    <div>
        <h1>Change password</h1>
        <form action="{% url 'password_change' %}" method="post">
            {% include 'include/messages.html' %}
            {% csrf_token %}
            <div>
                <label for="current_password">Enter current password</label>
                <input type="password" name="current_password" id="current_password" required>
            </div>
            <div>
                <label for="new_password">Enter a new password</label>
                <input type="password" name="new_password" id="new_password" required>
            </div>
            <div>
                <label for="new_password2">confirm new password</label>
                <input type="password" name="new_password2" id="new_password2" required>
            </div>
            <button type="submit">Save password</button>
        </form>
    </div>
{% endblock content %}