{% extends 'base.html' %}

{% block title %}Password resent sent{% endblock title %}

{% block page__title %}
    <div class="page__header">
        <h1>welcome</h1>
    </div>
{% endblock page__title %}

{% block content %}
    <section class="section section__authentication page__section">
        <div class="password__reset_done">
            <h4>Password reset sent</h4>
            <p>
                Password reset link has been sent to your email address.
                You can <a href="{% url 'password_reset' %}">resend</a>
                if you haven't received email yet.
            </p>
        </div>
    </section>
{% endblock content %}