{% extends 'base.html' %}

{% block title %}Password Reset{% endblock title %}

{% block content %}
    <h4>Password reset</h4>
    <p>Please enter a valid email address linked to your account.</p>
    <div>
    <form action="{% url 'password_reset' %}" method="POST">
        {% include 'include/messages.html' %}
        {% csrf_token %}
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>
        <button type="submit">Send request</button>
    </form>
        <small>
        Have password? 
        <a href="{% url 'login' %}">Log in</a>
        </small>
    </div>
{% endblock content %}