{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block page__title %}
    <div class="page__header">
        <h1>welcome</h1>
    </div>
{% endblock page__title %}

{% block content %}
<section class="section section__authentication page__section">
    <div class="section__wrapper">
        <div class="password__reset_complete">
            <h3>Set new password</h3>
            <form action="{% url 'password_reset_complete' %}" method="POST" class="form">
                {% include 'include/messages.html' %}
                {% csrf_token %}
                <div class="form__group">
                    <label for="email">Password</label>
                    <input type="password" name="password" id="password" placeholder="New password">
                    <i class="fas fa-key"></i>
                    <i class="fas fa-eye-slash fa__pass"></i>
                    <i class="fas fa-eye fa__pass show"></i>
                </div>
                <div class="form__group">
                    <label for="confirm_password">Confirm password</label>
                    <input type="password" name="confirm_password" id="confirm_password" placeholder="confirm new password">
                    <i class="fas fa-key"></i>
                    <i class="fas fa-eye-slash fa__pass"></i>
                    <i class="fas fa-eye fa__pass show"></i>
                </div>
                <button type="submit">Set password</button>
            </form>
        </div>
    </div>
</section>
{% endblock content %}