{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
    <h4>Set new password</h4>
    <div>
    <form action="{% url 'password_reset_complete' %}" method="POST">
        {% include 'include/messages.html' %}
        {% csrf_token %}
        <div>
            <label for="email">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <label for="confirm_password">Confirm password</label>
            <input type="password" name="confirm_password" id="confirm_password">
        </div>
        <button type="submit">Set password</button>
    </form>
    </div>
{% endblock content %}