<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if reg_user %}
        <form action="{% url 'register_complete' %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in  form %}
               <div>
                {{ field.label }}
                {{ field }}
                {{ field.errors }}</div>
            {% endfor %}
            <button type="submit">Submit</button>
            {% comment "send back the email address to be used to identify the user" %}{% endcomment %}
            <input type="text" name="email" value={{ reg_user.email }} hidden> 
        </form>
    {% else %}
        <h4>Invalid link</h4>
    {% endif %}
</body>
</html>