{% extends 'base.html' %}


{% block title %}My Bookings{% endblock title %}

{% block content %}
    {% for booking in bookings %}
        <div class="booking">
            <img src="{{ booking.room.photo.url }}" alt="{{ booking.room.room_number }}" width="300px">
            <p>{{ booking.room.room_number }}</p>
            <p>{{ booking.room.room_type }}</p>
            <p>{{ booking.room.room_type.price }}</p>
            <p>{{ booking.status }}</p>
        </div>
    {% empty %}
        <p>You have no bookings!</p>
        <p><a href="{% url 'room_list' %}">Book now</a></p>
    {% endfor %}
    <a href="{% url 'room_list' %}">Go to rooms</a>
{% endblock content %}