@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600;800&display=swap");

@import url("./components.css");
@import url("./layout.css");
@import url("./pages.css");
@import url("./responsive.css");

:root {
  font-size: 62.5%;
  --color-primary: #6c91c2;
  --color-dark: #373f47;
  --color-dark-trans: #373f47ab;
  --color-gray: #8b8982;
  --color-white: #fff;
  --color-blue: #2f3c7e;
  --background-red-trans: #ff44000c;
  --color-blue-trans: #2f3c7e8f;
  --color-red: #ff4400;
  --light-shadow: 0 0 2px var(--color-dark);
  --light-shadow-2: 0 0 5px rgba(0, 0, 0, 0.096);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  font-family: "Dosis", sans-serif;
}

#content {
  margin-top: 10rem;
}
