.navbar__logo {
  text-align: center;
}

.navbar__logo h1 {
  text-transform: uppercase;
}

/* section */
.section {
  width: 100%;
  padding: 5rem 1.5rem;
}

/* section wrapper */
.section__wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 111rem;
}

.primary__link_btn {
  display: inline-block;
  margin-top: 2rem;
  font-size: 1.5rem;
  border-radius: 100px;
  text-decoration: none;
  padding: 1rem 3rem;
  text-transform: uppercase;
}

.secondary__link_btn {
  display: inline-block;
  margin-top: 2rem;
  font-size: 0.8rem;
  border-radius: 100px;
  text-decoration: none;
  padding: 0.5rem 2.5rem;
  text-transform: uppercase;
}

.primary__title {
  margin: 2rem 0;
}

.primary__title .title {
  text-transform: capitalize;
  font-size: 3rem;
}

.primary__title .underline {
  padding: 0.1rem;
  width: 8rem;
  background-color: var(--color-red);
  margin-top: 1.5rem;
}

.secondary__title {
  margin: 2rem 0;
}

.secondary__title .title {
  text-transform: capitalize;
  font-size: 2.5rem;
}

.secondary__title .underline {
  padding: 0.1rem;
  width: 8rem;
  background-color: var(--color-red);
  margin-top: 1.5rem;
}

/************* 3rd party  ****************/
/* lightSlider */
.lSSlideOuter .lSPager.lSpg > li:hover a,
.lSSlideOuter .lSPager.lSpg > li.active a {
  background-color: var(--color-red);
}

.lSAction > a {
  background-color: var(--color-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-image: none;
  transition: all 0.2s;
}

.lSAction > a:hover {
  transform: scale(1.3);
}

.lSAction > a > i {
  color: var(--color-red);
}

/* our blog */
section.section__blog .lSAction > a {
  top: 2rem;
}

/************* end of 3rd party  ****************/

/************* page header  ****************/
.page__header {
  background: rgba(0, 0, 0, 0.541);
  width: 100%;
  height: 25rem;
  overflow: hidden;
  position: relative;
  top: 5rem;
}

.page__header::after {
  content: "";
  display: block;
  position: absolute;
  background: url("../images/pages/page_header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.page__header h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 5rem;
  text-transform: capitalize;
}
/************* end of page header  ****************/

/************* tabbed panel  ****************/
.tab__panel {
  display: none;
}
.tab__panel.active {
  display: block;
}
/************* end of tabbed panel  ****************/

/************* accordion panel  ****************/

.accordion {
  width: 100%;
  list-style: none;
  margin-top: 2rem;
}

.accordion li {
  width: 100%;
  margin: 1px 0;
}

.accordion .accordion__control {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1.5rem 1rem;
  outline: none;
  border: none;
  background-color: var(--color-primary-trans);
  cursor: pointer;
  text-align: left;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.accordion__control i {
  background-color: #000;
  color: #fff;
  padding: 0.5rem;
  border-radius: 50%;
  display: none;
  margin-right: 2rem;
}

.accordion__control.active {
  background-color: var(--color-primary);
  color: #fff;
}

.accordion__control.active i.fa-minus {
  display: inline;
}

.accordion__control:not(.active) i.fa-plus {
  display: inline;
}

.accordion__panel {
  background-color: #fff;
  padding: 2rem 0;
}

.accordion__panel {
  display: none;
}
/************* end of accordion panel  ****************/

/************* modal  ****************/

/* modal */
#modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 101;
}
.footer__overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: #000;
  opacity: 0.8;
  z-index: 102;
}

#modal .viewer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  height: 20rem;
  z-index: 103;
  overflow: hidden;
}

#modal .slider {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}
#modal li {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}
#modal li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#modal .slidBtn {
  display: flex;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  justify-content: center;
  z-index: 104;
}

#modal .slidBtn .btn {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--color-blue-trans);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

#modal .slidBtn .btn i {
  font-size: 2rem;
  color: var(--color-red);
}

#modal .slidBtn .btn:hover {
  transform: scale(1.3);
  background-color: var(--color-blue);
}

#modal .postCounter {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.39);
  color: #fff;
  z-index: 9999;
}
/************* end of modal  ****************/

/************* tabbed panel  ****************/
.tab__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 2rem;
}

.tab__list li {
  flex: 0 0 calc((100% / 2) - 0.3rem);
  text-align: center;
  border-bottom: 2px solid var(--color-primary);
}

.tab__list li a,
.tab__list li a:link,
.tab__list li a:visited {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-weight: 400;
  color: #000;
  padding: 1.5rem 0;
  transition: all 0.5s;
  text-transform: capitalize;
}

.tab__list li.active {
  background-color: var(--color-primary);
}

.tab__list li.active a {
  color: #fff;
}

.tab__list li a:hover {
  background-color: #000;
  color: #fff;
}
/************* end of tabbed panel  ****************/

/************* form  ****************/

.form__group {
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color-dark-2);
  width: 100%;
}

.form__group input, .form__group select{
  display: block;
  border: none;
  outline: none;
  width: 100%;
  height: 3rem;
  border-radius: 10rem;
  padding: 2rem;
  background-color: var(--color-primary-trans);
  margin: 1rem 0;
}

.form__group select{
  width: 15rem;
  padding: 1rem;
  height: 5rem;
}

.form__group select option:hover{
  background-color: var(--color-primary);
  color: #000;
}

.form .form__action {
  width: 100%;
  text-align: right;
}

.form button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 10rem;
  background-color: var(--color-primary);
  color: #fff;
  transition: all 0.3s;
  float: right;
  text-transform: capitalize;
}

.form button:hover {
  background-color: #000;
}

.form__links{
  margin-top: 2rem;
}

.form__links p {
  color: var(--color-dark-2);
  font-size: 1.3rem;
}

.form__links a,
.form__links a:link,
.form__links a:link {
  text-decoration: none;
  color: #3f57e2;
  margin-left: 1rem;
}

.form__links a:hover {
  text-decoration: underline;
}
/************* end of form ****************/

/************* messages ****************/
.messages, .errorlist, .invalid__link {
  position: relative;
  width: 100%;
  max-width: 40rem;
  margin: auto;
}

.messages p, .nonfield, .invalid__link h4 {
  text-align: center;
  padding: 1.5rem;
  text-align: center;
}

.messages .success {
  background: #1b971b2d;
  color: #1b971b;
}

.messages .error, .errorlist, .invalid__link {
  background: #ff0b0b2c;
  color: #e00505;
}

.errorlist {
  list-style: none;
}

/************* end of messages ****************/
