body.modal__open {
  overflow: hidden;
}

/************* navbar ***********/
.navbar__wrapper {
  position: fixed;
  right: 0;
  top: 0%;
  width: 100%;
  height: auto;
  z-index: 100;
  background: var(--color-white);
  box-shadow: var(--light-shadow);
  padding: 1rem;
}
.navbar {
  width: 100%;
  max-width: 111rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .toggle__btn {
  position: relative;
  display: block;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 1px solid var(--color-dark);
  text-align: center;
  z-index: 2;
  cursor: pointer;
  z-index: 10;
  transition: all 2s;
}

.navbar .toggle__icon {
  position: relative;
  margin-top: 2.75rem; /* move half of it's parent which is 7rem*/
}

.navbar .toggle__icon,
.toggle__icon::before,
.toggle__icon::after {
  display: inline-block;
  width: 3rem;
  height: 2px;
  background-color: var(--color-red);
  transition: all 0.2s;
}

.toggle__btn:hover .toggle__icon {
  transform: scale(1.2);
}

.navbar .toggle__icon::before,
.toggle__icon::after {
  content: "";
  position: absolute;
  left: 0;
}

.navbar .toggle__icon::before {
  top: -1rem;
}

.navbar .toggle__icon::after {
  top: 1rem;
}

.turn .toggle__icon {
  background: transparent;
}
.turn .toggle__icon::before {
  transform: rotate(135deg) translate(7px, -7px);
}

.turn .toggle__icon::after {
  transform: rotate(-135deg) translate(7px, 7px);
}

.nav__link_wrapper {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--color-blue);
  transition: left 0.2s;
}

.show__links {
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    var(--color-blue),
    var(--color-dark)
  );
  text-align: center;
}

.nav__link {
  display: inline-block;
  color: var(--color-white);
  font-size: 2rem;
  text-transform: uppercase;
  transition: all 0.2s;
}

.show__links .nav__links {
  margin-top: 10rem;
}

.nav__link:link,
.nav__link:visited,
.user__greeting {
  text-decoration: none;
}
.show__links .nav__link:link,
.nav__link:visited,
.user__greeting {
  display: block;
  margin-bottom: 3rem;
}

.user__greeting i {
  display: none;
}

span.nav__link {
  color: var(--color-dark);
}

.show__links .nav__link:hover {
  margin-left: 1rem;
  color: var(--color-red);
} /************* end of navbar ***********/

/* content */

/* home */
/************* hero banner ***********/
.hero {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  top: 5rem;
}

.hero__photo_viewer {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero__photo_slider {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.hero__photo_slide {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.hero__photo_slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.hero__photo_header {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  z-index: 10;
  text-align: center;
}

.hero .photo__title {
  margin: auto;
  font-size: 8rem;
  background: transparent;
  line-height: 1;
  color: var(--color-white);
}
.hero .photo__title_strong {
  color: var(--color-blue);
}

.hero__link_btn {
  background: black;
  color: var(--color-white);
}

.hero__photo_btns {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 0;
  top: 50%;
  width: 100%;
  padding: 1rem;
}

.hero__btn {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  color: var(--color-red);
  font-size: 2.5rem;
  cursor: pointer;
  background: var(--color-blue-trans);
  position: relative;
  transition: transform 0.2s;
}

.hero__btn i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hero__btn:hover {
  transform: scale(1.3);
}
.hero__link {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
/************* end of hero banner ***********/

/*************  section about ***********/
.about__text {
  font-size: 1.6rem;
}

.about__text p:not(:last-child) {
  margin-bottom: 1.5rem;
}
.about__services {
  margin-top: 2rem;
  font-weight: 600;
}

.about__services p:not(:last-child) {
  margin-bottom: 1rem;
}
.about__services p i {
  margin-right: 1rem;
  color: var(--color-red);
}

.about__link_btn {
  background: var(--color-blue);
  color: var(--color-white);
}

.about__photo {
  margin-top: 6rem;
  width: 100%;
  max-width: 50rem;
}

.about__photo img {
  height: 100%;
  width: 100%;
} /*************  end of section about ***********/

/*************  services ***********/
.section__services {
  color: var(--color-dark);
  background: var(--background-blue);
}

.section__services .services {
  margin-top: 4rem;
}
.section__services .service {
  margin: 2rem 0;
}

.section__services .service__desc {
  padding: 1rem;
  background: var(--color-white);
}

.section__services .service__img_container {
  width: 100%;
  overflow: hidden;
}

.section__services .service__img_container img {
  display: block;
  width: 100%;
  transition: all 0.3s;
}

.section__services .service .service__img_container:hover img {
  transform: scale(1.2);
}

.section__services .service__desc .service__title,
.service__body {
  margin-top: 1rem;
}

.section__services .services__link_btn {
  background: black;
  color: var(--color-white);
  font-size: 2rem;
}
.section__services .service__link_btn {
  background: black;
  color: var(--color-white);
  font-size: 1.2rem;
}

/*************  end of services ***********/

/*************  section our team ***********/
.section__our_team {
  width: 100%;
  height: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.493);
  color: var(--color-white);
}

.section__our_team::after {
  content: "";
  position: absolute;
  background: fixed no-repeat center/cover url("./team__background.jpg");
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.team__wrapper {
  height: 100%;
}

.section__our_team .our__team_viewer {
  margin-top: 2rem;
  height: 55rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__our_team .our__team_members {
  height: 100%;
  width: 100%;
}

.section__our_team .member {
  height: 50rem;
}

.section__our_team .member__img_container {
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.section__our_team .member__img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transition: all 0.5s;
}

.member__img_container:hover img {
  transform: scale(1.2);
}
.section__our_team .member__desc {
  color: var(--color-dark);
  height: 20%;
  background: var(--background-blue);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section__our_team .our__team_members {
}

/************* end of section our team ***********/

/************* why choose us ***********/

.why__us_grids {
  display: grid;
  width: 100%;
  /* height: 30rem; */
  position: relative;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  margin-top: 4rem;
}

.why__us_grids::before {
  content: "";
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  z-index: 2;
}

.why__us_grid {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.why__us_grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.why__us_grid:hover img {
  transform: scale(1.2);
}

.why__us_grid .grid__header {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 0.5rem 1.5rem 0.5rem;
  background: linear-gradient(transparent, black);
}

.why__us_grid h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--color-white);
}
/************* end of why choose us ***********/

/************* our blog ***********/
.section__blog {
  width: 100%;
  background: var(--background-blue);
}

.blog__post_viewer {
  margin-top: 4rem;
}

.blog__post {
  height: 50rem;
}
.blog__img_container {
  width: 100%;
  height: 50%;
  position: relative;
}
.blog__post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog__date {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 7rem;
  /* height: 6rem; */
  background: var(--color-red);
  text-align: center;
}

.post__date_day {
  font-size: 2.5rem;
  margin-top: 0.1rem;
  padding: 1rem;
  color: var(--color-white);
}
.post__month_year {
  background-color: #000;
  color: var(--color-white);
  padding: 1px;
}

.post__info_wrapper {
  background-color: var(--color-white);
  padding: 1rem;
}

.blog__actions {
  margin: 1rem 0;
  color: var(--color-dark);
}

.blog__actions > span {
  margin-right: 0.5rem;
  text-transform: capitalize;
}

.blog__actions > span > i {
  color: var(--color-red);
}

.blog__post_info {
  margin-top: 2rem;
}

.post__title {
  margin-bottom: 2rem;
  text-transform: capitalize;
  font-size: 2rem;
}
.post__body {
  margin-bottom: 2rem;
}

.blog__post_link {
  padding: 1rem;
  background-color: var(--color-red);
  text-align: center;
  transition: all 0.3s;
}

.blog__post_link:hover {
  background-color: #000;
}

.blog__post_link a:link,
.blog__post_link a:visited {
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.5rem;
  text-transform: capitalize;
}
/************* end of our blog ***********/

/************* our partners ***********/
.our__partners_viewer {
  margin-top: 4rem;
}

#our__partners {
  height: 15rem;
}

.partner {
  height: 100%;
  width: 100%;
}

.partner__logo_container {
  height: 100%;
  width: 100%;
}
.partner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/************* end of our partners ***********/

/************* section footer ***********/
footer {
  position: relative;
}
.section__footer {
  background: #000;
  color: #fff;
}

.section__footer .secondary__title {
  margin-top: 3rem;
}

.section__footer .secondary__title .underline {
  background-color: #fff;
}

.footer__about_us p,
.social__icon {
  margin-top: 2rem;
}

.social__icon a,
.social__icon a:link,
.social__icona:visited {
  text-decoration: none;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid #fff;
  position: relative;
  margin-right: 0.5rem;
}

.social__icon a i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.quick__links > li {
  list-style: none;
  margin-bottom: 1rem;
}

.quick__links > li > a,
.quick__links > li > a:link,
.quick__links > li > a:link {
  text-decoration: none;
  color: #fff;
}

.quick__links > li > i {
  margin-right: 0.5rem;
  color: var(--color-red);
}

.instagram__posts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.instagram__posts div {
  display: block;
  flex: 0 0 calc(100% / 3);
  width: 100%;
  height: auto;
}

.instagram__post img {
  width: 100%;
  height: 100%;
}

.news__letter p {
  margin-bottom: 2rem;
}

.news__letter_form {
  width: 100%;
  margin-bottom: 5rem;
}

.news__letter_form .form__group {
  width: 100%;
}
.news__letter_form .form__group input {
  width: 100%;
  height: 4rem;
  border-radius: 10rem;
  padding: 0 1rem;
  border: none;
  outline: none;
}

.news__letter_submit {
  cursor: pointer;
  display: inline;
  position: static;
  background-color: var(--color-red);
  color: #fff;
  font-size: 1.5rem;
  border: none;
  outline: none;
  float: left !important;
}

.section__copyright {
  font-family: sans-serif;
  padding: 2rem;
  text-align: center;
  background-color: var(--color-blue);
  color: #fff;
  font-size: 1.2rem;
}

/* modal */
#modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 101;
}
.footer__overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: #000;
  opacity: 0.8;
  z-index: 102;
}

#modal .viewer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  height: 20rem;
  z-index: 103;
  overflow: hidden;
}

#modal .slider {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}
#modal .instagram__post {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}
#modal .instagram__post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#modal .slidBtn {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  justify-content: center;
  z-index: 104;
}

#modal .slidBtn .btn {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--color-blue-trans);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

#modal .slidBtn .btn i {
  font-size: 2rem;
  color: var(--color-red);
}

#modal .slidBtn .btn:hover {
  transform: scale(1.3);
  background-color: var(--color-blue);
}

/************* end of section footer ***********/
