/* navbar */

@media screen and (max-width: 600px) {
  .hero .photo__title {
    font-size: 6rem;
  }
}

/* min width */
@media screen and (min-width: 600px) {
  /* navbar */
  .navbar .toggle__btn {
    display: none;
  }

  .nav__link_wrapper {
    position: static;
    background-color: transparent;
    display: flex;
  }

  .nav__link {
    display: inline-block;
    color: var(--color-blue);
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.2s;
    margin-right: 0.5rem;
  }

  .nav__link:hover {
    color: var(--color-red);
  }

  .user__info {
    width: 150px;
    margin-left: 1rem;
    position: relative;
  }

  .user__links {
    position: absolute;
    top: -100%;
    left: 0;
    background: var(--color-white);
    width: 100%;
    box-shadow: var(--light-shadow);
    display: none;
    transition: all 2s;
  }

  .show__user_links {
    display: block;
    top: 4rem;
  }

  .user__links .nav__link {
    display: block;
    padding: 0.5rem;
    color: var(--color-blue);
  }
  .user__links .nav__link:hover {
    color: var(--color-white);
    background-color: var(--color-blue);
  }

  .user__greeting {
    display: inline-block;
    margin-bottom: 1rem;
    position: relative;
  }

  .user__greeting.link__down .down {
    display: none;
  }
  .user__greeting.link__down .up {
    display: inline-block;
  }
  .user__greeting:not(.link__down) .up {
    display: none;
  }

  .user__greeting > i {
    display: inline-block;
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    color: var(--color-red);
    cursor: pointer;
    transition: all 0.5s;
  }

  .user__greeting > i:hover {
    transform: scale(1.5);
  } /* end of navbar */

  /* about */
  .section__about .section__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .section__about .about__info {
    flex: 0 0 calc(50% - 2rem);
    margin-right: 5rem;
  }

  .about__photo {
    flex: 0 0 calc(50% - 2rem);
    margin-top: 6rem;
    width: 100%;
    height: 50rem;
  }

  .about__photo img {
    object-fit: cover;
  }
  /* end of about */

  /* services */
  .section__services .service {
    display: flex;
    height: 20rem;
  }

  .section__services .services__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .section__services .services__header .services__detail_link,
  .services__text {
    flex: 0 0 calc((100% / 2) - 5rem);
  }

  .primary__link_btn {
    float: right;
  }
  .section__services .service__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .section__services .secondary__link_btn {
    align-self: flex-start;
  }
  .section__services .service__img_container {
    height: 100%;
    width: 40%;
  }

  .section__services .service__img_container img {
    height: 100%;
    object-fit: cover;
  }

  /* end of services */

  /* footer */
  .footer__part_1,
  .footer__part_2 {
    display: flex;
    justify-content: space-between;
  }
  .footer__part_1 > div,
  .footer__part_2 > div {
    flex: 0 0 calc((100% / 2) - 2rem);
  }

  #modal .viewer {
    width: 70rem;
    height: 50rem;
  }

  #modal .slidBtn {
    top: 10%;
  }
  /* end of footer */

  /* our room list */
  .room {
    height: 32.8rem;
  }

  .room .room__img_container {
    height: 58%;
  }

  .room .room__detail {
    height: 42%;
  }
  .room__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .room__list .room {
    flex: 0 0 calc((100% / 2) - 1rem);
  }
  /* end of our room list */

  /* tabbed panel */
  .tab__list {
    width: 50%;
    justify-content: space-between;
  }

  .tab__list li {
    flex: 0 0 calc((100% / 3) - 0.3rem);
  }
  /* end of tabbed panel */

  /* room detail */
  .overview > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .overview > div .about__info,
  .overview > div .room__status {
    flex: 0 0 calc((100% / 2) - 1rem);
  }

  .amenities ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .amenities ul li {
    flex: 0 0 calc((100% / 2));
  }
  /* end of room detail */
}

@media screen and (min-width: 760px) {
  /* our team */
  .our__team_info,
  .our__blog_text,
  .why__us_text,
  .our__partners_text {
    width: 70%;
  }
  /* end of our team */

  /* my room booking */
  .section__my_bookings .bookings .booking {
    display: flex;
    height: 25rem;
  }

  .section__my_bookings #active .booking,
  .section__my_bookings #all .booking {
    display: flex;
    height: 30rem;
  }

  .section__my_bookings .bookings .booking__img_container {
    height: 100%;
  }

  .section__my_bookings .bookings .booking .booking__detail {
    height: 100%;
  }

  .bookings .booking__actions p {
    width: 20rem;
    float: right;
  }

  .paypal {
    width: 20rem;
    float: right;
    clear: right;
  }
  /* end of my room booking */
}

@media screen and (min-width: 800px) {
  /* services */
  .section__services .services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .section__services .service {
    flex: 0 0 calc((100% / 2) - 2rem);
  }

  .section__services .service__img_container {
    width: 100%;
  }
  /* end of services */

  /* our team */
  .section__our_team {
    height: calc(100vh - 5rem);
  }
  .our__team_info,
  .our__blog_text,
  .why__us_text {
    width: 70%;
  }
  /* end of our team */
}

@media screen and (min-width: 1024px) {
  /* our team */

  .our__team_info,
  .our__blog_text,
  .why__us_text,
  .our__partners_text {
    width: 50%;
  }

  .section__our_team .our__team_viewer {
    height: 45rem;
    width: 100%;
  }

  .section__our_team .member {
    margin: auto;
    margin-bottom: 2rem;
    height: 35.1rem;
  }
  /* end of our team */

  /* footer */
  .section__footer .section__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .section__footer .section__wrapper > div {
    flex: 0 0 calc((100% / 2) - 2rem);
  }

  #modal .slidBtn {
    top: 5%;
  }
  /* end of footer */

  /* our room list */

  .room {
    height: 30.5rem;
  }

  .room__list .room {
    flex: 0 0 calc((100% / 4) - 1rem);
  }
  /* end of our room list */

  /* room detail */
  .section__room_detail .amenities ul li {
    flex: 0 0 calc((100% / 3));
  }
  /* end of room detail */

  /* modal */
  #modal .viewer {
    width: 90rem;
    height: 60rem;
  }
  /* end of modal */
}
