{% extends 'base.html' %}

{% block title %}Book {{ room.room_number }}{% endblock title %}

{% block content %}
    <div class="booking__form">
        <form action="{% url 'book_room' room.slug %}" method="POST">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            {{form.start_date.label}}
            {{form.start_date}}
            {{form.duration.label}}
            {{form.duration}}
            <input type="text" name="room_number" value={{ room.room_number }} hidden>
            <button type="submit">Book</button>
        </form>
    </div>
{% endblock content %}