<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Rico Palace Hotel{% endblock title %}</title>
</head>
<body>
    <header>
        {% block header %}
            {% if user.is_authenticated %}
                <span> Welcome, {{ user.customer.first_name}}!</span>
                <a href="{% url 'my_bookings' %}">My bookings</a>
                <a href="{% url 'logout' %}">Log out</a>
            {% else %}
                <a href="{% url 'login' %}">Log in</a>
            {% endif %}
        {% endblock header %}
    </header>
    {% block content %}
        
    {% endblock content %}
    {% block script %}{% endblock script %}
</body>
</html>