{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block page__title %}
    <div class="page__header">
        <h1>FAG's</h1>
    </div>
{% endblock page__title %}

{% block content %}
<section class="section section__fags page__section">
    <div class="section__wrapper">
        <aside>
            <div class="search">
                <h3>Search</h3>
                <div class="search__form">
                    <input type="text" placeholder="Search">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="filter">
                <h3>FAG's Topic</h3>
                <div class="filter__form">
                    <div class="form__group">
                        <input type="checkbox" name="" id="all" class="all">
                        <label for="all"><i class="fas fa-check"></i> All</label>
                    </div>
                    <div class="form__group">
                        <input type="checkbox" name="" id="features" class="option">
                        <label for="features"><i class="fas fa-check"></i> Features</label>
                    </div>
                    <div class="form__group">
                        <input type="checkbox" name="" id="sliders" class="option">
                        <label for="sliders"><i class="fas fa-check"></i> Sliders</label>
                    </div>
                    <div class="form__group">
                        <input type="checkbox" name="" id="manageListing" class="option">
                        <label for="manageListing"><i class="fas fa-check"></i> Manage Listing</label>
                    </div>
                    <div class="form__group">
                        <input type="checkbox" name="" id="addressMap" class="option">
                        <label for="addressMap"><i class="fas fa-check"></i> Address &amp; Map</label>
                    </div>
                    <div class="form__group">
                        <input type="checkbox" name="" id="reservation" class="option">
                        <label for="reservation"><i class="fas fa-check"></i> Reservation Request</label>
                    </div>
                    <div class="form__group">
                        <input type="checkbox" name="" id="yourReserve" class="option">
                        <label for="yourReserve"><i class="fas fa-check"></i> Your Reservation</label>
                    </div>
                    <div class="form__group">
                        <input type="checkbox" name="" id="other" class="option">
                        <label for="other"><i class="fas fa-check"></i> Other Questions</label>
                    </div>
                </div>
            </div>
        </aside>
        <div class="content">
            <ul class="accordion">
                <li>
                    <button class="accordion__control">
                        <i class="fas fa-plus"></i><i class="fas fa-minus"></i>
                        Rules &amp; Policies
                    </button>
                    <div class="accordion__panel">
                       <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur consequatur aut deserunt molestiae. Cumque molestias cupiditate asperiores atque. Tempore facere suscipit quasi tempora cumque. Omnis perspiciatis placeat impedit tempora delectus!
                       </p>
                       <p>
                        Tenetur consequatur aut deserunt molestiae. Cumque molestias cupiditate asperiores atque. Tempore facere suscipit quasi tempora cumque. Omnis perspiciatis placeat impedit tempora delectus!
                       </p>
                       <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur consequatur aut deserunt molestiae. Cumque molestias cupiditate asperiores atque. Tempore facere 
                       </p>
                       <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur consequatur aut deserunt molestiae. Cumque molestias cupiditate asperiores atque. Tempore facere suscipit quasi tempora cumque. Omnis perspiciatis placeat impedit tempora delectus!
                       </p>
                    </div>
                </li>
                <li>
                    <button class="accordion__control">
                        <i class="fas fa-plus"></i><i class="fas fa-minus"></i>
                        Hotel Changes
                    </button>
                    <div class="accordion__panel">
                       <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur consequatur aut deserunt molestiae. Cumque molestias cupiditate asperiores atque. Tempore facere suscipit quasi tempora cumque. Omnis perspiciatis placeat impedit tempora delectus!
                       </p>
                       <p>
                        Tenetur consequatur aut deserunt molestiae. Cumque molestias cupiditate asperiores atque. Tempore facere suscipit quasi tempora cumque. Omnis perspiciatis placeat impedit tempora delectus!
                       </p>
                       <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur consequatur aut deserunt molestiae. Cumque molestias cupiditate asperiores atque. Tempore facere 
                       </p>
                       <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur consequatur aut deserunt molestiae. Cumque molestias cupiditate asperiores atque. Tempore facere suscipit quasi tempora cumque. Omnis perspiciatis placeat impedit tempora delectus!
                       </p>
                    </div>
                </li>
                <li>
                    <button class="accordion__control">
                        <i class="fas fa-plus"></i><i class="fas fa-minus"></i>
                        Refunds
                    </button>
                    <div class="accordion__panel">
                       <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur consequatur aut deserunt molestiae. Cumque molestias cupiditate asperiores atque. Tempore facere suscipit quasi tempora cumque. Omnis perspiciatis placeat impedit tempora delectus!
                       </p>
                       <p>
                        Tenetur consequatur aut deserunt molestiae. Cumque molestias cupiditate asperiores atque. Tempore facere suscipit quasi tempora cumque. Omnis perspiciatis placeat impedit tempora delectus!
                       </p>
                       <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur consequatur aut deserunt molestiae. Cumque molestias cupiditate asperiores atque. Tempore facere 
                       </p>
                       <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur consequatur aut deserunt molestiae. Cumque molestias cupiditate asperiores atque. Tempore facere suscipit quasi tempora cumque. Omnis perspiciatis placeat impedit tempora delectus!
                       </p>
                    </div>
                </li>
                <li>
                    <button class="accordion__control">
                        <i class="fas fa-plus"></i><i class="fas fa-minus"></i>
                        Hotel Panalties
                    </button>
                    <div class="accordion__panel">
                       <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur consequatur aut deserunt molestiae. Cumque molestias cupiditate asperiores atque. Tempore facere suscipit quasi tempora cumque. Omnis perspiciatis placeat impedit tempora delectus!
                       </p>
                       <p>
                        Tenetur consequatur aut deserunt molestiae. Cumque molestias cupiditate asperiores atque. Tempore facere suscipit quasi tempora cumque. Omnis perspiciatis placeat impedit tempora delectus!
                       </p>
                       <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur consequatur aut deserunt molestiae. Cumque molestias cupiditate asperiores atque. Tempore facere 
                       </p>
                       <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur consequatur aut deserunt molestiae. Cumque molestias cupiditate asperiores atque. Tempore facere suscipit quasi tempora cumque. Omnis perspiciatis placeat impedit tempora delectus!
                       </p>
                    </div>
                </li>
                <li>
                    <button class="accordion__control">
                        <i class="fas fa-plus"></i><i class="fas fa-minus"></i>
                        Hotel Cancellation
                    </button>
                    <div class="accordion__panel">
                       <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur consequatur aut deserunt molestiae. Cumque molestias cupiditate asperiores atque. Tempore facere suscipit quasi tempora cumque. Omnis perspiciatis placeat impedit tempora delectus!
                       </p>
                       <p>
                        Tenetur consequatur aut deserunt molestiae. Cumque molestias cupiditate asperiores atque. Tempore facere suscipit quasi tempora cumque. Omnis perspiciatis placeat impedit tempora delectus!
                       </p>
                       <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur consequatur aut deserunt molestiae. Cumque molestias cupiditate asperiores atque. Tempore facere 
                       </p>
                       <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur consequatur aut deserunt molestiae. Cumque molestias cupiditate asperiores atque. Tempore facere suscipit quasi tempora cumque. Omnis perspiciatis placeat impedit tempora delectus!
                       </p>
                    </div>
                </li>
                <li>
                    <button class="accordion__control">
                        <i class="fas fa-plus"></i><i class="fas fa-minus"></i>
                        Hotel Term &amp; Use
                    </button>
                    <div class="accordion__panel">
                       <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur consequatur aut deserunt molestiae. Cumque molestias cupiditate asperiores atque. Tempore facere suscipit quasi tempora cumque. Omnis perspiciatis placeat impedit tempora delectus!
                       </p>
                       <p>
                        Tenetur consequatur aut deserunt molestiae. Cumque molestias cupiditate asperiores atque. Tempore facere suscipit quasi tempora cumque. Omnis perspiciatis placeat impedit tempora delectus!
                       </p>
                       <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur consequatur aut deserunt molestiae. Cumque molestias cupiditate asperiores atque. Tempore facere 
                       </p>
                       <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur consequatur aut deserunt molestiae. Cumque molestias cupiditate asperiores atque. Tempore facere suscipit quasi tempora cumque. Omnis perspiciatis placeat impedit tempora delectus!
                       </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
{% endblock content %}